      </div>
    </div>
    <footer class="sticky-footer text-white mt-4" style="background-color: #303030;">
      <hr class="invisible">
      <style media="screen">
        .site-footer{background-color:#26272b;padding:45px 0 20px;font-size:15px;line-height:24px;color:#737373}.site-footer hr{border-top-color:#bbb;opacity:.5}.site-footer hr.small{margin:20px 0}.site-footer h6{color:#fff;font-size:16px;text-transform:uppercase;margin-top:5px;letter-spacing:2px}.site-footer a{color:#737373}.site-footer a:hover{color:#36c;text-decoration:none}.footer-links{padding-left:0;list-style:none}.footer-links li{display:block}.footer-links a{color:#737373}.footer-links a:active,.footer-links a:focus,.footer-links a:hover{color:#36c;text-decoration:none}.footer-links.inline li{display:inline-block}.site-footer .social-icons{text-align:right}.site-footer .social-icons a{width:40px;height:40px;line-height:40px;margin-left:6px;margin-right:0;border-radius:100%;background-color:#33353d}.copyright-text{margin:0}@media (max-width:991px){.site-footer [class^=col-]{margin-bottom:30px}}@media (max-width:767px){.site-footer{padding-bottom:0}.site-footer .copyright-text,.site-footer .social-icons{text-align:center}}.social-icons{padding-left:0;margin-bottom:0;list-style:none}.social-icons li{display:inline-block;margin-bottom:4px}.social-icons li.title{margin-right:15px;text-transform:uppercase;color:#96a2b2;font-weight:700;font-size:13px}.social-icons a{background-color:#eceeef;color:#818a91;font-size:16px;display:inline-block;line-height:44px;width:44px;height:44px;text-align:center;margin-right:8px;border-radius:100%;-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}.social-icons a:active,.social-icons a:focus,.social-icons a:hover{color:#fff;background-color:#29aafe}.social-icons.size-sm a{line-height:34px;height:34px;width:34px;font-size:14px}.social-icons a.facebook:hover{background-color:#3b5998}.social-icons a.twitter:hover{background-color:#00aced}.social-icons a.linkedin:hover{background-color:#007bb6}.social-icons a.dribbble:hover{background-color:#ea4c89}@media (max-width:767px){.social-icons li.title{display:block;margin-right:0;font-weight:600}}
        .rlink{display:inline-block;position:relative;text-decoration:none;color:#fff;z-index:1}.rlink::after{text-decoration: none;content:'';position:absolute;left:0;bottom:.07em;height:.1em;color:#fff;width:100%;background:linear-gradient(110deg,#e1f549,#29d0be,#6cb8ea,#ff5959);z-index:-1;transition:height .25s cubic-bezier(.6,0,.4,1)}.rlink:hover::after{height:.2em;color:#fff;text-decoration: none;}a:hover{text-decoration: none}
      </style>

      <div class="container my-auto">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h4 class="text-uppercase" style="font-family: 'Roboto', sans-serif;letter-spacing: 2px;"><strong><%= bot.user.username %></strong></h4>
            <p class="text-justify"><%= bot.user.username %> and  [WEBSITE NAME] are heavily based on <a style="" class="rlink text-white" href="https://github.com/AnIdiotsGuide/guidebot/tree/dashboard">Guide Bot</a>. Majority of code and templates were updated and modified by <a class="rlink text-white" href="https://github.com/MiddayClouds/">Midday</a></p>
            <p class="copyright-text"><%= bot.user.username %> is licensed under the <a style="" class="rlink text-white" href="https://github.com/MiddayClouds/pal/blob/master/LICENSE"> MIT license</a></p>
          </div>

      <div class="invisible col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="/stats">About Us</a></li>
          <li><a href="https://discord.gg/szFy478">Contact Us</a></li>
          <li><a href="https://github.com/MiddayClouds/pal/blob/master/CONTRIBUTING.md">Contribute</a></li>
        </ul>
      </div>
    </div>

  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Original work Copyright &copy; 2018 YorkAARGH</p>
        <p class="copyright-text">Modified work Copyright &copy; 2020 Midday</p>
        <hr class="invisible">
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <a style="margin-left:70px;"role="button" class="btn btn-outline-success <% if(!bot.application.botPublic) { %> disabled<% } %>" href="<% if(bot.application.botPublic) { %>https://discordapp.com/oauth2/authorize?client_id=<%= bot.application.id %>&scope=bot&permissions=1007021143&response_type=code&redirect_uri=<%= encodeURIComponent(bot.config.dashboard.callbackURL) %><% } %>">Add to Discord</a>
        <!-- <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul> -->
      </div>
    </div>
  </div>
    </footer>
  </div>
  <!-- <script type="text/javascript">
    window.onload=function(){document.getElementById("LoadingPage").style.display="none"},function(o){"use strict";o("#sidebarToggle, #sidebarToggleTop").on("click",function(e){o("body").toggleClass("sidebar-toggled"),o(".sidebar").toggleClass("toggled"),o(".sidebar").hasClass("toggled")&&o(".sidebar .collapse").collapse("hide")}),o(window).resize(function(){o(window).width()<768&&o(".sidebar .collapse").collapse("hide")}),o("body.fixed-nav .sidebar").on("mousewheel DOMMouseScroll wheel",function(e){if(o(window).width()>768){var l=e.originalEvent,t=l.wheelDelta||-l.detail;this.scrollTop+=30*(t<0?1:-1),e.preventDefault()}}),o(document).on("scroll",function(){o(this).scrollTop()>100?o(".scroll-to-top").fadeIn():o(".scroll-to-top").fadeOut()}),o(document).on("click","a.scroll-to-top",function(e){var l=o(this);o("html, body").stop().animate({scrollTop:o(l.attr("href")).offset().top},1e3,"easeInOutExpo"),e.preventDefault()})}(jQuery);
  </script> -->
  <!-- <script>
    jQuery(document).ready(function(){
      document.getElementById("page-top").fadeIn(400);
    });
  </script> -->
  </body>
