<%- include('blocks/header', {bot, user, path}) %>

<title>Home | <%= bot.user.username %></title>
  <div class="jumbotron">
    <div>
      <h1><%= bot.user.username %></h1>
      <p class="lead"><% if(bot.application.description.length > 3) { %> <%= bot.application.description %> <% } else { %>No description given.<% }%></p>
      <p class="lead">
        <a class="btn btn-primary" href="/dashboard" role="button">Go to the dashboard »</a>
        <a class="btn btn-primary" href="/commands" role="button">Command Help »</a>
      </p>
    </div>
  </div>
  <!-- Include the Footer -->
  <%- include('./blocks/footer') %>
